.item {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.item__link {
  text-decoration: none;
  color: #000;
  padding-left: 10px;
}

.item__input {
  transform: scale(1.5);
}

.item__due {
  padding-left: 1rem;
  font-size: 1rem;
}
