.button {
  font-size: 1rem;
  border-radius: 0;
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: #333;
  transition: background-color ease-in 200ms;
}

.button:hover {
  background-color: #666;
}
